@using NoteWebApp.Models
@model Note

@{
    ViewBag.Title = "Detail";
    String name = ViewBag.name;
    var noteBookList = ViewBag.noteBookList;
    var noteBookId = ViewBag.noteBookId;
    var isShortcut = ViewBag.isShortCut;
}
@{
    var DeleteButton = "";
    var DeleteText = "";
    var UpdateOrRecover = "";
    var UpdateOrRecoverText = "";
    var NoteListText = "";
    var NoteList = "";
    var Star = "";
    var Save = "true";
    var Info = "../../Content/menu/info.png";
}

@{ 
    if (Model.IsDeleted == 0) //삭제된 노트가 아닐경우
    {
        DeleteButton = "preDelete";
        DeleteText = "삭제";
        UpdateOrRecover = "Update";
        UpdateOrRecoverText = "수정";
        NoteList = "Index";
        if (isShortcut == "false")
        {
            Star = "../../Content/shortcut_stroke.png";
            Save = "true";

        }
        else if (isShortcut == "true")
        {
            Star = "../../Content/shortcut_fill.png";
            Save = "false";
        }


        NoteListText = "<< 노트 리스트로 돌아가기";

    }
    else if (Model.IsDeleted == 1) //삭제된 노트일 경우
    {
        DeleteButton = "Delete";
        DeleteText = "영구삭제";
        UpdateOrRecover = "RecoverNote";
        UpdateOrRecoverText = "복원";
        NoteList = "Deleted";
        NoteListText = "<< 휴지통 리스트로 돌아가기";
        Star = "../../Content/bin.png";
    }
}


<body>
    <br />
    <div class="noteHeader">
        @using (Html.BeginForm("ChangeNote", "Shortcut"))
        {
            @Html.Hidden("id", Model.NoteId)
            @Html.Hidden("isShortcut", @Save)
            <input type="image" src=@Star alt="Submit" width="25">
            <input type="image" src=@Info alt="Submit" width="25">
        }

    </div>


    @using (Html.BeginForm(UpdateOrRecover, "Note"))
    {
       @Html.DropDownList("noteBookId")
        <div id="noteid">@Html.Hidden("noteId", Model.NoteId)</div><hr />

        <div class="title">

            @Html.TextBox("title", Model.Title, new { maxlength = 15, onkeyUp = "lengthAlert()" })
           
        </div>
        <div id="msg"></div>
        <div>
            <br />
            @Html.TextArea("contents", Model.Contents)
        </div>
        <input type="submit" value=@UpdateOrRecoverText />
    }

    @using (Html.BeginForm(@DeleteButton, "Note"))
    {
        @Html.Hidden("noteId", Model.NoteId)
        <input type="submit" value="@DeleteText" />
    }

    @Html.ActionLink(NoteListText, NoteList)
    <script>
        CKEDITOR.replace('contents');

        function lengthAlert() {
            var length = document.getElementById("title").value.length;
            if (length > 15) {
                document.getElementById("msg").innerHTML = "제목은 15자 이내로 작성해주세요.";
            } else {
                document.getElementById("msg").innerHTML = "";
            }
        }

    </script>


</body>
