@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    List<Note> notelist = ViewBag.noteList;
}

<h2>노트 리스트</h2>


@foreach (var item in notelist)
{
<ul>



    @Html.ActionLink(item.Title, "Detail", new { id = item.NoteId })

    @using (Html.BeginForm("preDelete", "Note"))
    {
        @Html.Hidden("noteId", item.NoteId)
        <input type="submit" value="삭제" />
    }
    <hr />
</ul>
}

<div>
    @Html.ActionLink("새 노트", "Create")
</div>
<div>
    @Html.ActionLink("휴지통", "Deleted")
</div>
<div>
    @Html.ActionLink("노트북", "../Notebook")
</div>





