@model IEnumerable<NoteWebApp.Areas.Lab.Models.BinaryFileVO>

<table class="table">
    <tr>
        <th>
            명령
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BINARY_FILE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FILE_NAME)
        </th>
        <th>
            Download
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MIME_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FILE_SIZE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_DELETED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELETED_DATE)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                Delete
            </td>
            <td>
                @item.BINARY_FILE_ID
            </td>
            <td>
                @item.FILE_NAME
            </td>
            <td>
                @Html.ActionLink("download", "download", "SimpleFileUpload", new { id = item.BINARY_FILE_ID }, new { target = "_blank" })
            </td>
            <td>
                @item.MIME_TYPE
            </td>
            <td>
                <p style="text-align: right;">
                    @String.Format("{0:N0}", int.Parse(item.FILE_SIZE.ToString()))
                </p>
            </td>
            <td>
                @item.IS_DELETED
            </td>
            <td>
                @item.CREATED_DATE
            </td>
            <td>
                @item.MODIFIED_DATE
            </td>
            <td>
                @item.DELETED_DATE
            </td>
        </tr>
    }

</table>