@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    List<NoteBook> noteBookList = ViewBag.noteBookList;
}


<h2>노트북리스트</h2>
@Html.ActionLink("새 노트북", "Create")

@foreach (var item in noteBookList)
{
<ul>

    @Html.ActionLink(item.Name, "List", new { id = item.NoteBookId })


        <br />
        @Html.ActionLink("수정", "Revise", new { id = item.NoteBookId })


    @using (Html.BeginForm("Delete", "NoteBook"))
    {
        @Html.Hidden("id", item.NoteBookId)
        <input type="submit" value="삭제" />
    }
    <hr />

</ul>
}
@Html.ActionLink("<<노트로 돌아가기", "../note")

