@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    List<NoteBook> noteBookList = ViewBag.noteBookList;

}


<h2>노트북리스트</h2>
@Html.ActionLink("새 노트북", "Create")
<div>
    @Html.ActionLink("휴지통", "../note/Deleted")
</div>

@foreach (var item in noteBookList)
{
    <ul>
        <li>
            <div class="listTitle" onclick="showNoteBook(@item.NoteBookId)">
                @item.Name<br />
            </div>
            <div id="noteListDate">노트  @NoteBookManager.CountInBook(item.NoteBookId)개</div><br />

            <hr />
        </li>
    </ul>

}

<div id="notelist"></div>

<script>
    var noteListUrl = '@Url.Action("List", "NoteBook")';
    function showNoteBook(noteBookId) {
        window.location.href = '/NoteBook/List/' + noteBookId;
    }

</script>

