@using NoteWebApp.Models
@{
    ViewBag.Title = "List";
    NoteBook noteBook = ViewBag.noteBook;
    int firstNoteId = ViewBag.firstNoteId;
    var isShortcut = ViewBag.isShortCut;
    var Star = "";
    var Save = "true";
    
    if (isShortcut == "false")
    {
        Star = "../../Content/shortcut_stroke.png";
        Save = "true";

    }
    else if (isShortcut == "true")
    {
        Star = "../../Content/shortcut_fill.png";
        Save = "false";
    }
}


<h2>@noteBook.Name</h2>
@Html.ActionLink("노트북 정보", "Info", new { id = noteBook.NoteBookId })
<br />
@using (Html.BeginForm("ChangeBook", "Shortcut"))
{
    @Html.Hidden("id", noteBook.NoteBookId)
    @Html.Hidden("isShortcut", @Save)
    <input type="image" src=@Star alt="Submit" width="25px">
    /*<input class="star" type="image" value=@Save src="" />*/
}

    <div id="noteOrderBy">
        @using (Html.BeginForm("NoteList", "Note", FormMethod.Get))
        {
            @Html.DropDownList("orders", new SelectListItem[]{
            new SelectListItem() { Text = "설정", Value = ""},
            new SelectListItem() { Text = "만든날짜(최근 순으로)", Value = "0"},
            new SelectListItem() { Text = "만든날짜(오래된 순으로)", Value = "1"},
            new SelectListItem() { Text = "제목(내림차순)", Value = "2"},
            new SelectListItem() { Text = "제목(오름차순)", Value = "3"}
           }, new { onchange= "callList(this.value)" })
        }
    </div>

<div class="noteList"></div>
<div id="noteDetail"></div>

<script>
    window.callList("0", @noteBook.NoteBookId);
    var detailUrl = '@Url.Action("Detail", "Note")';
    document.getElementById("noteDetail").innerHTML = initDetail();

    function callList(val) {
        $('.noteList').load("/Note/NoteList?", { order: val, notebookId: @noteBook.NoteBookId });
    }
    function notedetail(noteid) {
        $('#noteDetail').load(detailUrl, { selectedNoteid: noteid });
    }
    function initDetail() {
        $('#noteDetail').load(detailUrl, { selectedNoteid: @firstNoteId });
    }
</script>
