@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    var shortcuts = ViewBag.shortcuts;
}

<h2>바로가기</h2>

<div class="notelist">
    @foreach (var item in shortcuts)
    {
        <ul>
            <li>

                @if (item.GetType().Name == "Note")
                {
                    <button id="list" onclick="notedetail(@item.NoteId)" value="@item.NoteId">@item.Title</button>
                }

                @if (item.GetType().Name == "NoteBook")
                {

                    String NoteBookName = item.Name;
                    String NoteBookId = item.NoteBookId.ToString();
                    @Html.ActionLink(NoteBookName, "../notebook/List", new { id = NoteBookId })

                }
                <hr />

            </li>
        </ul>
    }
</div>
<div id="noteDetail">

</div>
<script>
    var url = '@Url.Action("Detail", "Note")';
    document.getElementById("noteDetail").innerHTML = initDetail();

    function notedetail(noteid){
        $('#noteDetail').load(url, { selectedNoteid: noteid });
    }

</script>

