@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}


<style>
    .tagList, .tagList form{
        display: inline;
    }
    .tagName {
        position: relative;
        cursor: pointer;
        color: #4a4a4a;
        background-color: #f8f8f8;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        box-sizing: border-box;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 5px;
        margin-right: 10px;
    }
    .countNoteTag {
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #28a955;
        margin: 0 12px;
    }

    .deleteTagBtn{
        cursor: pointer;
    }
</style>
<h2>Tag</h2>
@using (Html.BeginForm("Create", "Tag"))
{
    <div>
        태그 추가:
        @Html.TextBox("tagName", "")
        <input type="submit" value="저장" />
    </div>
}

@using (Html.BeginForm("Search", "Tag"))
{
    <div>
        태그 검색:
        @Html.TextBox("tagName", "")
        <input type="submit" value="검색" />
    </div>
}

    @foreach (var item in Model)
    {
        <ul>
            <li>
                <div class="tagList">
                    <span class="tagName" onclick="showNoteByTag(@item.Tag_Id)">
                        @item.Tag_Name
                        <span class="countNoteTag"> @TagDAO.GetNoteListByTagId(item.Tag_Id).Count</span>

                    </span>
                    <span>   
                        <img class="deleteTagBtn" src="~/Content/tag/tag_delete.png" onclick="deleteTag(@item.Tag_Id)" width="16px">
                    </span>
                </div>
            </li>
        </ul>

    }

<script>

    function deleteTag(id) {
        var deleteDialog = confirm("태그를 삭제하시겠습니까?");
        if (deleteDialog) {
            window.location.href = '/Tag/Delete/?tagid=' + id;
        }
    }

    function showNoteByTag(TagId) {
            window.location.href = '/Tag/List/?tagid=' + TagId;
    }


</script>