@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}


<style>
    .readMode, .readMode form {
        display: inline;
    }

    .tag {
        position: relative;
        cursor: pointer;
        color: #4a4a4a;
        background-color: #f8f8f8;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        box-sizing: border-box;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 5px;
        margin-right: 10px;
    }

    .countNoteTagList {
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #28a955;
        margin: 0 12px;
    }

    .btn {
        cursor: pointer;
        width: 16px;
    }

    .hide {
        display: none;
    }
</style>
<h2>Tag</h2>
@using (Html.BeginForm("Create", "Tag"))
{
    <div>
        태그 추가:
        @Html.TextBox("tagName", "")
        <input type="submit" value="저장" />
    </div>
}

@using (Html.BeginForm("Search", "Tag"))
{
    <div>
        태그 검색:
        @Html.TextBox("tagName", "")
        <input type="submit" value="검색" />
    </div>
}

<ul id="TagListUL">

    @foreach (var item in Model)
    {
        
        <li>
            <div class="readMode"> <!-- $('#TagListUL .tagList').removeClass('hide'); -->
                <span class="tag" onclick="showNoteByTag(@item.Tag_Id)">
                    <span class="tagNameList">@item.Tag_Name</span>
                    <span class="countNoteTagList"> @TagDAO.GetNoteListByTagId(item.Tag_Id).Count</span>

                </span>
                <span>
                    <img class="btn ModifyTagBtn" src="~/Content/tag/tag_modify.png">
                </span>
                <span>
                    <img class="btn DeleteTagBtn" src="~/Content/tag/tag_delete.png" value="@item.Tag_Id">
                </span>
            </div>
            <div class="editMode hide">
                <span>
                    @using (Html.BeginForm("Modify", "Tag"))
                    {
                        @Html.TextBox("tagName", "", new { placeholder = item.Tag_Name });
                        @Html.Hidden("tagId", (int)item.Tag_Id);
                        <img class="modifySubmit btn" src="~/Content/tag/check_green.png" onclick="submit(this)" />
                    }

                </span>
            </div>

        </li>
    }
</ul>

<script>
    var editMode = document.getElementsByClassName("editMode"); //수정 모드
    var listMode = document.getElementsByClassName("readMode");
    var modifyTagBtn = document.getElementsByClassName("ModifyTagBtn"); //수정버튼
    //modifyTagBtn = $('.ModifyTagBtn');
    var input = document.getElementsByClassName("tagName");

    function showNoteByTag(TagId) {
        window.location.href = '/Tag/List/?tagid=' + TagId;
    }

    $(document).ready(function () {

        $(document).click(function () {
            initTagList();
        });

        $('#TagListUL .ModifyTagBtn').click(function (event) {
            openEditMode(this);
            event.stopPropagation();
            
        });

        $('#TagListUL .DeleteTagBtn').click(function (event) {
            deleteTag(this.nodeValue);

        });

        function openEditMode(element) {
            initTagList();
            $(element).parents('li').find('.readMode').hide();
            $(element).parents('li').find('.editMode').show();

        }

        function initTagList() {
            $('#TagListUL .editMode').hide();
            $('#TagListUL .readMode').show();
        }

        function deleteTag(id) {
            var deleteDialog = confirm("태그를 삭제하시겠습니까?");
            if (deleteDialog) {
                window.location.href = '/Tag/Delete/?tagid=' + id;
            }
        }
    });


</script>