@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}


<style>
    .tagName {
        position: relative;
        cursor: pointer;
        color: #4a4a4a;
        background-color: #f8f8f8;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        box-sizing: border-box;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 10px;
    }
    .countNoteTag {
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #28a955;
        margin: 0 12px;
    }
</style>
<h2>Tag</h2>
@using (Html.BeginForm("Create", "Tag"))
{
    <div>
        태그 추가:
        @Html.TextBox("tagName", "")
        <input type="submit" value="저장" />
    </div>
}

@using (Html.BeginForm("Search", "Tag"))
{
    <div>
        태그 검색:
        @Html.TextBox("tagName", "")
        <input type="submit" value="검색" />
    </div>
}

@foreach (var item in Model) {
    <ul>
        <li>
            <span class="tagName" onclick="showNoteByTag(@item.Tag_Id)">
                @item.Tag_Name
            <span class="countNoteTag"> @TagDAO.GetNoteListByTagId(item.Tag_Id).Count</span>

        </span>
        <span>
            @using (Html.BeginForm("Delete", "Tag"))
            {
                <input type="hidden" value="@item.Tag_Id" name="tagId" />
                <input type="submit" value="삭제" />
            }

        </span>
        </li>
    </ul>

}

<script>
    function showNoteByTag(TagId) {
            window.location.href = '/Tag/List/?tagid=' + TagId;
    }
</script>