@using NoteWebApp.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_layout.cshtml";
}


<style>
    .tagList, .tagList form{
        display: inline;
    }
    .tag {
        position: relative;
        cursor: pointer;
        color: #4a4a4a;
        background-color: #f8f8f8;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
        box-sizing: border-box;
        line-height: 22px;
        padding-left: 20px;
        padding-right: 5px;
        margin-right: 10px;
    }
    .countNoteTagList {
        font-family: gotham, helvetica, arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        color: #28a955;
        margin: 0 12px;
    }

    .btn{
        cursor: pointer;
        width: 16px;
    }
    .edit-mode {
        color: #28a955;
    }
    .hide{
        display:none;
    }
</style>
<h2>Tag</h2>
@using (Html.BeginForm("Create", "Tag"))
{
    <div>
        태그 추가:
        @Html.TextBox("tagName", "")
        <input type="submit" value="저장" />
    </div>
}

@using (Html.BeginForm("Search", "Tag"))
{
    <div>
        태그 검색:
        @Html.TextBox("tagName", "")
        <input type="submit" value="검색" />
    </div>
}

    @foreach (var item in Model)
    {
        <ul>
            <li>
                <div class="tagList">
                    <span class="tag" onclick="showNoteByTag(@item.Tag_Id)">
                        <span class="tagNameList">@item.Tag_Name</span>
                        <span class="countNoteTagList"> @TagDAO.GetNoteListByTagId(item.Tag_Id).Count</span>

                    </span>
                    <span>
                        <img class="btn ModifyTagBtn" src="~/Content/tag/tag_modify.png" onclick="openEditMode(this)">
                    </span>
                    <span>
                        <img class="btn deleteTagBtn" src="~/Content/tag/tag_delete.png" onclick="deleteTag(@item.Tag_Id)">
                    </span>
                </div>
                    <span class="editTag hide">
                        @using (Html.BeginForm("Modify", "Tag"))
                        {
                            @Html.TextBox("tagName", "", new { placeholder = item.Tag_Name});
                            @Html.Hidden("tagId", (int)item.Tag_Id);
                            <img class="modifySubmit btn" src="~/Content/tag/check_green.png" onclick="submit(this)"/>
                        }

                    </span>


                
            </li>
        </ul>

    }

<script>
    var editMode = document.getElementsByClassName("editTag"); //수정 모드
    var listMode = document.getElementsByClassName("tagList");
    var modifyTagBtn = document.getElementsByClassName("ModifyTagBtn"); //수정버튼
    var input = document.getElementsByClassName("tagName");

    function deleteTag(id) {
        var deleteDialog = confirm("태그를 삭제하시겠습니까?");
        if (deleteDialog) {
            window.location.href = '/Tag/Delete/?tagid=' + id;
        }
    }

    function showNoteByTag(TagId) {
            window.location.href = '/Tag/List/?tagid=' + TagId;
    }


    //클릭한 태그 수정하는 칸 열고 다른 버튼 숨기기
    function openEditMode(tag) {
        var index;
        for (i = 0; i < modifyTagBtn.length; i++) {
            if (tag == modifyTagBtn[i]) {
                index = i;
                editMode[index].classList.remove("hide"); //편집칸열기
                listMode[index].classList.add("hide");//리스트모드닫기                
            } 
        }
    }

    //다른 태그의 수정 버튼 누르면 현재 edit-mode 닫힘.
    document.addEventListener("click", function (e) { //클릭 이벤트 발생시
        e = e || window.event;
        var target = e.target || e.srcElement;
        for (i = 0; i < modifyTagBtn.length; i++) {
            if (target == modifyTagBtn[i]) { //수정버튼을 눌렀을 때
                for (j = 0; j < editMode.length; j++) {
                    if (i != j && editMode[j].className != 'editTag hide') { //현재 클릭된 수정버튼이 아니면
                        editMode[j].classList.add('hide');
                        listMode[j].classList.remove('hide');
                    }
                }
            }   
        }
        
    });

</script>