@using NoteWebApp.Models
@{
    ViewBag.Title = "Index";
    var shortCutList = ViewBag.shortCutList;
}

<style>
    #noteListDate, .listTitle {
        font-family: 'Montserrat', sans-serif;
    }
</style>

<h2>바로가기</h2>

<div class="noteList">
    @foreach (var item in shortCutList)
    {
        <ul>
            <li>
                @if (item.GetType().Name == "Note")
                {
                    <div class="listTitle" onclick="notedetail(@item.NoteId)">@item.Title</div>
                }
                else if (item.GetType().Name == "NoteBook")
                {
                    <div class="listTitle" onclick="noteBookList(@item.NoteBookId)">@item.Name</div>
                }
            </li>
        </ul>
    }

</div>
<div id="noteDetail">

</div>
<script>
    var url = '@Url.Action("Detail", "Note")';
    
    function notedetail(noteid){
        $('#noteDetail').load(url, { selectedNoteid: noteid });
    }

    function noteBookList(bookId) {
        window.location.href = "/notebook/list/" + bookId;
    }

</script>

